<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}about">
          Eleanor Fleming
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}about">About</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}forms-module">Forms Module</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}blog1">Blogs & Content</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}project1">Website Redesign</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}project2">Portfolio Optimization</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        {% endcomment %}
    </nav>

    <p>Currently v{{ site.version }}</p>
  </div>
</div>
